[run]
source =
    server
omit =
    env/*
    */tests*
    */__init__.py
    */redis_services*

[report]
exclude_lines =
    pragma: no cover
    def setUp
    def test_
    return raw_input
    print
    if __name__ == '__main__':
    def suite
