[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.1.2"
edagames-grpc = "==1.1.0"
fastapi = "==0.63.0"
h11 = "==0.12.0"
pika = "==1.2.0"
pydantic = "==1.8.2"
redis = "==3.5.3"
requests = "==2.25.1"
starlette = "==0.13.6"
typing-extensions = "==3.7.4.3"
uvicorn = "==0.13.4"
websockets = "==8.1"
PyJWT = "==2.0.1"
boto3 = "==1.22.3"
botocore = "==1.25.3"
certifi = "==2021.10.8"
chardet = "==4.0.0"
grpcio = "==1.37.0"
idna = "==2.10"
jmespath = "==1.0.0"
protobuf = "==3.15.8"
python-dateutil = "==2.8.2"
s3transfer = "==0.5.2"
six = "==1.16.0"
urllib3 = "==1.26.9"
parameterized = "*"
fakeredis = "*"
httpx = "*"

[dev-packages]
coverage = "==5.5"
fakeredis = "==1.5.0"
flake8 = "==3.9.0"
httpx = "==0.17.1"
mccabe = "==0.6.1"
parameterized = "==0.8.1"
pycodestyle = "==2.7.0"
pyflakes = "==2.3.1"

[requires]
python_version = "3.8"
